@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  p,
  button {
    @apply font-body;
  }
}

/* @layer components{
 .wave{
    @apply before:block before:absolute before:content-0 before:bg-wave-line before:w-full before:bg-no-repeat before:-left-[290px] before:inset-y-0 relative;
  }
} */

@layer utilities {
  .content-0 {
    content: " ";
  }
  .wave{
    content: " ";
    background: url('/assets/wave_line.png');
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: -290px;
    top: 0;
    bottom: 0;
  }
  .vertical{
    content: " ";
    background: url('/assets/line_vertical.png');
    width: 100%;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 25px;
    top: -102px;
    bottom: 0;
  }
  
}

.div-half::before {
  content: "";
  height: 350px;
  position: absolute;
  width: 100%;
  background: white;
  bottom: 0;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fc6136;
}

